In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
%matplotlib inline

import warnings
warnings.filterwarnings(action='ignore')

In [2]:
df = pd.read_csv('Not_clean_data.csv', index_col = 0)
df.head(3)

,size,price,date,product,release_date,color,release_price
0,235(4.5Y),"250,000원",21/09/11,(GS) Nike Dunk Low Championship Grey,21/09/02,WOLFGREY/DARKOBSIDIAN-TOTALORANGE,"$85(약100,800원)"
1,235(5Y·W),"250,000원",21/09/12,(GS) Nike Dunk Low Championship Grey,21/09/02,WOLFGREY/DARKOBSIDIAN-TOTALORANGE,"$85(약100,800원)"
2,240(6Y·W),"280,000원",21/09/18,(GS) Nike Dunk Low Championship Grey,21/09/02,WOLFGREY/DARKOBSIDIAN-TOTALORANGE,"$85(약100,800원)"

In [3]:
df.shape

(145554, 7)

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 145554 entries, 0 to 1482
Data columns (total 7 columns):
 #   Column         Non-Null Count   Dtype
---  ------         --------------   -----
 0   size           145554 non-null  object
 1   price          145554 non-null  object
 2   date           145554 non-null  object
 3   product        145554 non-null  object
 4   release_date   145554 non-null  object
 5   color          145554 non-null  object
 6   release_price  145554 non-null  object
dtypes: object(7)
memory usage: 8.9+ MB

In [5]:
# null 값 보기 
tot = df.isnull().sum().sort_values(ascending=False)
pct = (df.isnull().sum()/df.isnull().count()).sort_values(ascending=False)
missing_data = pd.concat([tot, pct], axis=1, keys=['Total', 'Percent'])
missing_data

               Total  Percent
size               0      0.0
price              0      0.0
date               0      0.0
product            0      0.0
release_date       0      0.0
color              0      0.0
release_price      0      0.0

###  Preprocessing

In [6]:
# size 컬럼에서 사이즈만 추출  

def size (x) :
    return str(x)[:3]

df['size'] = df["size"].apply(size)

In [7]:
# price 컬럼  " , " 과 " 원 " 제거 

import re

def extract_num (num_str) :
    if type(num_str) == str :
        num_str = re.sub('[^0-9]','',num_str)
    return num_str

df['price'] = df['price'].apply(extract_num)
df.head()

,size,price,date,product,release_date,color,release_price
0,235,250000,21/09/11,(GS) Nike Dunk Low Championship Grey,21/09/02,WOLFGREY/DARKOBSIDIAN-TOTALORANGE,"$85(약100,800원)"
1,235,250000,21/09/12,(GS) Nike Dunk Low Championship Grey,21/09/02,WOLFGREY/DARKOBSIDIAN-TOTALORANGE,"$85(약100,800원)"
2,240,280000,21/09/18,(GS) Nike Dunk Low Championship Grey,21/09/02,WOLFGREY/DARKOBSIDIAN-TOTALORANGE,"$85(약100,800원)"
3,235,260000,21/09/19,(GS) Nike Dunk Low Championship Grey,21/09/02,WOLFGREY/DARKOBSIDIAN-TOTALORANGE,"$85(약100,800원)"
4,240,240000,21/09/19,(GS) Nike Dunk Low Championship Grey,21/09/02,WOLFGREY/DARKOBSIDIAN-TOTALORANGE,"$85(약100,800원)"

In [8]:
# release_price 통화기호 , 특수문자 , 문자 제거
set(df['release_price'])

{'$100(약118,600원)',
 '$100(약118,800원)',
 '$110(약130,500원)',
 '$110(약130,700원)',
 '$115(약136,600원)',
 '$120(약142,400원)',
 '$120(약142,600원)',
 '$125(약148,500원)',
 '$135(약160,200원)',
 '$150(약178,000원)',
 '$150(약178,300원)',
 '$180(약213,600원)',
 '$180(약213,900원)',
 '$50(약59,300원)',
 '$50(약59,400원)',
 '$55(약65,200원)',
 '$60(약71,200원)',
 '$65(약77,200원)',
 '$75(약89,100원)',
 '$80(약94,900원)',
 '$85(약100,800원)',
 '$85(약101,000원)',
 '$90(약106,800원)',
 '$90(약106,900원)',
 '$95(약112,700원)',
 '$98(약116,300원)',
 '-',
 '109,000원',
 '119,000원',
 '129,000원',
 '139,000원',
 '149,000원',
 '179,000원',
 '219,000원',
 '69,000원',
 '79,000원',
 '85,000원',
 '99,000원',
 '¥1,299(약241,900원)',
 '¥1,299(약242,300원)',
 '¥12,100(약124,900원)',
 '¥22,000(약227,200원)',
 '¥22,000(약227,600원)',
 '¥999(약186,300원)',
 '€110(약147,400원)',
 '€120(약160,900원)',
 '€54(약72,400원)',
 '€55(약74,000원)',
 '€64(약85,800원)',
 '￡100(약159,300원)',
 '￡90(약143,300원)'}

In [9]:
# "통화기호 , 한글제거 ""

def NotWon(x):
    if '약' in x:
        r = x.find('약')
        return x[r+1:-2]
    else:
        return x[:-1]

df['release_price'] = df['release_price'].apply(NotWon)

In [10]:
# 가격누락된 컬럼 값 추가 
df[df['release_price'] == '']  = 115000

In [11]:
# 특수문자 제거 
df['release_price'] = df['release_price'].apply(extract_num)
df.head()

,size,price,date,product,release_date,color,release_price
0,235,250000,21/09/11,(GS) Nike Dunk Low Championship Grey,21/09/02,WOLFGREY/DARKOBSIDIAN-TOTALORANGE,100800
1,235,250000,21/09/12,(GS) Nike Dunk Low Championship Grey,21/09/02,WOLFGREY/DARKOBSIDIAN-TOTALORANGE,100800
2,240,280000,21/09/18,(GS) Nike Dunk Low Championship Grey,21/09/02,WOLFGREY/DARKOBSIDIAN-TOTALORANGE,100800
3,235,260000,21/09/19,(GS) Nike Dunk Low Championship Grey,21/09/02,WOLFGREY/DARKOBSIDIAN-TOTALORANGE,100800
4,240,240000,21/09/19,(GS) Nike Dunk Low Championship Grey,21/09/02,WOLFGREY/DARKOBSIDIAN-TOTALORANGE,100800

In [12]:
# date , release_date 컬럼 변경 

df['date'] = df["date"].str.replace('/','-')
df['release_date'] = df['release_date'].str.replace('/','-')

In [13]:
# yyyy -mm-dd 형식으로 변환 
df['date'] = pd.to_datetime(df['date'], format='%y-%m-%d')

In [14]:
#release_date 누락된 값 추가 
df[df['release_date'] == '-']  = '21-07-22'

In [15]:
# yyyy -mm-dd 형식으로 변환 
df['release_date'] = pd.to_datetime(df['release_date'], format='%y-%m-%d')

In [16]:
df.head()

,size,price,date,product,release_date,color,release_price
0,235,250000,2021-09-11,(GS) Nike Dunk Low Championship Grey,2021-09-02,WOLFGREY/DARKOBSIDIAN-TOTALORANGE,100800
1,235,250000,2021-09-12,(GS) Nike Dunk Low Championship Grey,2021-09-02,WOLFGREY/DARKOBSIDIAN-TOTALORANGE,100800
2,240,280000,2021-09-18,(GS) Nike Dunk Low Championship Grey,2021-09-02,WOLFGREY/DARKOBSIDIAN-TOTALORANGE,100800
3,235,260000,2021-09-19,(GS) Nike Dunk Low Championship Grey,2021-09-02,WOLFGREY/DARKOBSIDIAN-TOTALORANGE,100800
4,240,240000,2021-09-19,(GS) Nike Dunk Low Championship Grey,2021-09-02,WOLFGREY/DARKOBSIDIAN-TOTALORANGE,100800

In [17]:
# 향후 모델링을 고려해 날짜 형식을 Unix 형식으로 변환 

import datetime as dt

df['date'] = df['date'].map(dt.datetime.toordinal)
df['release_date'] = df['release_date'].map(dt.datetime.toordinal)

In [18]:
df.head()

,size,price,date,product,release_date,color,release_price
0,235,250000,738044,(GS) Nike Dunk Low Championship Grey,738035,WOLFGREY/DARKOBSIDIAN-TOTALORANGE,100800
1,235,250000,738045,(GS) Nike Dunk Low Championship Grey,738035,WOLFGREY/DARKOBSIDIAN-TOTALORANGE,100800
2,240,280000,738051,(GS) Nike Dunk Low Championship Grey,738035,WOLFGREY/DARKOBSIDIAN-TOTALORANGE,100800
3,235,260000,738052,(GS) Nike Dunk Low Championship Grey,738035,WOLFGREY/DARKOBSIDIAN-TOTALORANGE,100800
4,240,240000,738052,(GS) Nike Dunk Low Championship Grey,738035,WOLFGREY/DARKOBSIDIAN-TOTALORANGE,100800

In [19]:
# csv 파일로 저장 

df.to_csv('clean_data.csv')